@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer components {
  .customHidden {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .md\:grid {
    display: grid !important;
  }
}

input[type='checkbox'],
input[type='radio'] {
  width: 25px;
  height: 25px;
}

svg {
  fill: none !important;
}

.specials-disclaimer a {
  font-weight: bold;
}
.specials-disclaimer h2 {
  padding-top: 1rem;
  padding-bottom: 0.2rem;
}
